.character-summary-top {
    width: 100%;
    height: 50%;
}

.character-summary-bottom {
    width: 100%;
    height: 40%;
}

.character-summary-card {
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.character-summary-general {
    height: 80%;
    width: 30%;
}

.character-summary-skills {
    height: 100%;
    width: 30%;
    flex-direction: column;
}

.character-summary-bottom-container {
    height: 85%;
    width: 20%;
}

.character-summary-bottom-name {
    width: 60%;
}

.character-summary-bottom-icon {
    width: 30%;
}

.character-summary-table {
    height: 80%;
    width: 100%;
}

.character-summary-ability-table {
    height: 80%;
    width: 80%;
    margin: 12%;
    border-collapse: collapse;
}