.character-feat-body {
    display: flex;
    height: 75%;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
}

.points-header {
    font-size: 6vmin;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.points-text {
    background-color: #fff;
    border-radius: 25px;
    padding-left: 2%;
    padding-right: 2%;
}

.character-feat-table {
    height: 100%;
    width: 65%;
}

.character-feat-selection {
    width: 25%;
    height: 70%;
}