.container-full {
    height: 100%;
    width: 100%;
}

.flex-column {
    flex-direction: column;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center-space-evenly {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

input[type=file] { 
    visibility: hidden;
    position: absolute
  }

.character-general-name {
    height: 20%;
    width: 90%;
}

.character-general-details {
    height: 80%;
    width: 90%;
}

.character-general-side {
    height: 100%;
    width: 30%;
    flex-direction: column;
}

.character-general-alignment {
    width: 70%;
    height: 70%;    
}

.character-general-center {
    height: 100%;
    width: 40%;
    flex-direction: column;
}

.character-general-row {
    height: 33%;
    width: 100%;
}

.character-general-square{
    height: 33%;
    width: 33%;
}

.material-shadow {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

  .card {
    background-color: #fff;
    border-radius: 2px;
    border-radius: 10px;
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5%;
  }

  .card-selected {
    background-color: #304385 !important;
    color: white;
  }

  .character-general-select {
    font-size: 15px;
    height: 30%;
    width: 45%;
    border-radius: 20px;
    padding-left: 15px;
    border: 0px;
    font-family: 'Luminari';
  }

.avatar {
    background-color: #fff;
    height: 150px;
    width: 150px;
    border-radius: 100%;
    overflow: hidden;
}

.character-general-avatar:hover {
    background-color: rgba(255,255,255,0.8)
}

.card:hover{
    background-color: rgba(255,255,255,0.95)
}