.character-weapon-side {
    flex-direction: column;
    height: 85%;
    width: 45%;
}

.character-weapon-title {
    color: white;
    font-size: 6vmin;
    margin-bottom: 5%;
}

.character-weapon-table {
    height: 80%;
    width: 100%;
    font-size: 87%;
}