.character-feat-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
}

.character-feat-body {
    display: flex;
    height: 75%;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
}

.character-feat-header {
    font-size: 6vmin;
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 10%;
}

.character-feat-points {
    background-color: #fff;
    border-radius: 25px;
    padding-left: 2%;
    padding-right: 2%;
}

.character-feat-table {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 65%;
    border-radius: 10px;
    overflow: hidden;
}

.character-feat-selection {
    width: 25%;
    height: 70%;
}

.character-feat-table tr {
    display: flex;
    flex: 1;
}

.character-feat-table tr th {
    flex: 1;
    height: 40px;
    background-color: #304385;
    color: white;
    border-bottom: 3px solid #192e78;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.character-feat-table tr:hover td {
    background-color: rgba(255,255,255,0.95);
}

.character-feat-table td {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2%;
    flex: 1;
    background-color: #fff;
    font-family: 'Luminari';
}


